body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 36px;
}

.course {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 200px;
    padding: 8px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
}

.credit-input {
    width: 70px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 90%;
    }
}

.contact-info {
    margin-top: 30px;
    text-align: center;
    color: black;
    background-color: rgba(0, 0, 0, 0.7);
}

.contact-info p {
    margin-bottom: 5px;
}

.contact-info{
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color:#fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}